.workout-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  font-family: helvetica;
  color: #35373b;
  border: 1px solid lightgray;
  border-radius: 15px;
  box-shadow: 5px 10px 20px lightgray;
  margin: 15px 0;
  padding: 0 15px;
  background-color: white;

  h2 {
    font-weight: 500;
  }
}

.workout-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}

.workout-exercise {
  font-size: 20px;
  padding: 20px 10px;
  border-top: 1px solid rgba(255, 91, 123, 0.3);
  align-items: flex-start;
  display: flex;
}

.workout-exercise:last-child {
  border-bottom: 1px solid rgba(255, 91, 123, 0.3);
  margin-bottom: 30px;
}
