.workout-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    display: flex;
    color: white;
    font-weight: 700;
    margin: 50px 0;
    font-size: 45px;
  }
}

.workout-gradient {
  overflow: hidden;
  height: 250px;
  padding: 30px;
  background-image: linear-gradient(to top right, #f3be70, #ff5b7b);
}

.search-bar input {
  outline: none;
  width: 425px;
  border-radius: 10px;
  height: 35px;
  font-size: 20px;
  background: url("./images/Search.png") 10px no-repeat;
  background-color: white;
  background-size: 20px;
  border: none;
  padding-left: 40px;
}

.exercise-list {
  position: absolute;
  top: 1300px;
}

.dot {
  height: 250px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 950px;
  left: 650px;
}
