.workout-list {
    background: white;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        display: flex;
        justify-content: center;
        color: white;
        font-weight: 700;
        margin: 50px 0px;
        font-size: 45px;
    }
}

.workout-gradient {
    width: 100%;
    overflow: hidden;
    height: 250px;
    padding: 20px;
    background-image: linear-gradient(to top right, #f3be70, #ff5b7b);
}

.search-bar {
    width: 90%;
    position: relative;
    left: 30px;
}

.search-bar input {
    outline: none;
    width: 60%;
    border-radius: 10px;
    height: 35px;
    font-size: 20px;
    background: url("./images/Search.png") 10px no-repeat;
    background-color: white;
    background-size: 20px;
    border: none;
    padding-left: 30px;
}

.exercise-list {
    background: white;
    width: 80%;
    position: absolute;
    top: 320px;
    margin-bottom: 220px;
}

// .dot {
//     height: 250px;
//     width: 250px;
//     background-color: rgba(255, 255, 255, 0.15);
//     border-radius: 50%;
//     display: inline-block;
//     position: absolute;
//     top: 950px;
//     left: 650px;
// }
// .navbar {
//     width: 100%;
//     background: rgb(252, 252, 252);
//     border-top: 3px silver outset;
//     margin: 0 auto;
//     display: flex;
//     justify-content: space-evenly;
//     padding-top: 20px;
//     position: fixed;
//     bottom: 0;
//     border-radius: 15px;
// }
.add-workout-card-button {
    height: 80px;
    background: white;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 150px;
    right: 20px;
    border-radius: 25px;
    opacity: .9;
    .plus-button {
        // position: relative;
        border-radius: 25px;
        // left: 40%;
    }
}